@import '../../../public/styles/_vars.css';
@import '../../../public/styles/_mixins.css';

input[type="text"],
input[type="password"],
[contenteditable="true"] {
    border-bottom: 2px solid #f0f0f0;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    @mixin transitionAllDefault;

    &:focus {
        border-color: $color;
    }

    &.input_border_blue {
        &:focus {
            border-color: $color_blue;
        }
    }
}

.form-field {
    display: block;
    margin-top: $marginTop;
    font-size: 14px;
}

.form-field__error {
    font-size: 12px;
    margin-top: 10px;
    color: $link_hover;
}

.field-separator {
    margin: 0 $step;
}