@import '../../../public/styles/_vars.css';
@import '../../../public/styles/_mixins.css';

.loader-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 999;
}

.loader-text {
    color: $link_hover;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 100px;
    text-transform: uppercase;
}

.loader {
    border: 5px solid transparent;
    border-left: 5px solid $link_hover;
    border-bottom: 5px solid $link_hover;
    border-top: 5px solid $link_hover;
    border-radius: 999px;
    height: 150px;
    width: 150px;
    margin: -75px 0 0 -75px;
    position: absolute;
    left: 50%;
    top: 50%;
    @mixin animationCircleRight 2s;

    &:after {
        content: '';
        border: 5px solid transparent;
        border-left: 5px solid $link_hover;
        border-bottom: 5px solid $link_hover;
        border-top: 5px solid $link_hover;
        border-radius: 999px;
        left: 11%;
        top: 11%;
        height: 100px;
        width: 100px;
        position: absolute;
        @mixin animationCircleLeft 1s;
    }
}