@import '../../../public/styles/_vars.css';
@import '../../../public/styles/_mixins.css';

.btn {
    padding: 10px;
    color: $color;
    outline: none;
    border: none;
    text-align: center;
    background: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    @mixin transitionAllDefault;
    @mixin borderBottomHover 0, $link_hover;

    &:disabled {
        color: #ccc;
        cursor: default;

        &:hover:after {
            height: 0;
            left: 50%;
            right: 51%;
        }
    }
}

.btn_color_blue {
    color: $color_blue;
    @mixin borderBottomHover 0, $link_blue_hover;

    &:hover {
        color: $link_blue_hover;
    }
}

.btn-image {
    width: 32px;
    height: 32px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;

    + .btn-image {
        margin-left: 5px;
    }

    &:after {
        font-family: 'FontAwesome';
        font-size: 30px;
        color: $color_blue;
        @mixin transitionAllDefault;
    }

    &:hover:after {
        color: $link_blue_hover;
    }
}

.btn-image_type_edit {
    &:after {
        content: '\f14b';
    }
}
.btn-image_type_remove {
    &:after {
        color: $color;
        content: '\f1f8';
    }

    &:hover:after {
        color: $link_hover;
    }
}
