@import '../../../public/styles/_mixins.css';
@import '../../../public/styles/_vars.css';

.modal-closed {
    position: absolute;
    right: -20px;
    top: -25px;
    cursor: pointer;
    background: none;
    border: none;
    @mixin transitionAllDefault;

    &:hover {
        color: $link_hover;
    }

    &:after {
        font-family: 'FontAwesome';
        font-size: 20px;
        content: '\f00d';
    }
}