@define-mixin transitionAllDefault {
    transition: 0.3s all;
}

@keyframes circleRotateR {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes circleRotateL {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@define-mixin animationCircleRight $speed {
    animation: circleRotateR $speed infinite linear;
}

@define-mixin animationCircleLeft $speed {
    animation: circleRotateL $speed infinite linear;
}

@define-mixin borderBottomHover $bottom, $color {
    &:after {
        height: 3px;
        position: absolute;
        bottom: $bottom;
        left: 50%;
        right: 51%;
        content: '';
        background: $color;

        @mixin transitionAllDefault;
    }

    &:hover {
        color: $link_hover;

        &:after {
            left: 0;
            right: 0;
        }
    }
}