.datepicker-field {
    width: 120px;
    position: relative;
    display: inline-block;

    input {
        width: 100% !important;
    }

    &:after {
        font-family: 'FontAwesome';
        font-size: 16px;
        content: '\f133';
        position: absolute;
        right: 5px;
        top: 50%;
        margin-top: -9px;
        pointer-events: none;
    }
}