@import './_fonts.css';
@import './_vars.css';

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: none;
    outline: none;
}

body {
    background: #fff;
    min-height: 100vh;
    font-family: 'Noto Sans';
}

a {
    font-size: 14px;
    text-decoration: none;
    color: #252525;

    &:hover {
        color: $link_hover;
    }
}

.fl-r {
    float: right;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right !important;
}