@import './_vars.css';

.table {
    width: 100%;
    table-layout: fixed;
    margin-top: $marginTop;

    th {
        font-size: 12px;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    td {
        font-size: 12px;
        padding: 8px;
        @include transitionAllDefault();
        vertical-align: top;
        word-break: break-all;
    }

    a {
        font-size: 12px;
    }

    tr:hover {
        td {
            background: #f5f5f5;
        }
    }
}