@import '../../../public/styles/_vars.css';

.paginator {
    background: #fff;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;

    > li,
    > li > a {
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: auto;
        line-height: 24px;
        padding: 0;
        text-align: center;
        background: #fff;
        color: #000;
        font-size: 12px;
        color: #000;
        font-weight: bold;
        border: 0;
        cursor: pointer;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }

    > li > a {
        margin: 0 1px;
        padding: 0 7px;
        text-decoration: none;
    }

    > li.disabled {
        opacity: 0.3;
    }
    > li:first-child,
    > li:first-child a {
        border-radius: 3px 0 0 3px;
    }
    > li:last-child,
    > li:last-child a {
        border-radius: 0 3px 3px 0;
        margin-right: -1px;
    }

    > li:nth-child(2),
    > li:nth-last-child(2),
    > li:nth-child(1),
    > li:nth-last-child(1) {
        font-size: 0;
    }
    > li:nth-child(2) a > span,
    > li:nth-last-child(2) a > span,
    > li:nth-child(1) a > span,
    > li:nth-last-child(1) a > span {
        font-size: 0;
    }
    > li:nth-child(2) a:before,
    > li:nth-last-child(2) a:before,
    > li:nth-child(1) a:before,
    > li:nth-last-child(1) a:before {
        display: block;
        content: '\f104';
        font-family: 'FontAwesome';
        width: auto;
        height: 24px;
        line-height: 24px;
        color: #000;
    }
    > li:nth-last-child(2) a:before {
        content: '\f105';
    }
    > li:nth-child(1) a:before {
        content: '\f100';
    }
    > li:nth-last-child(1) a:before {
        content: '\f101';
    }
    > li > a:hover, > li > span:hover, > li > a:focus, > li > span:focus {
        color: $color;
        background-color: #eee !important;
        border-color: #ddd;
    }
    > .disabled > span, > .disabled > span:hover, > .disabled > span:focus, > .disabled > a, > .disabled > a:hover, > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff !important;
        border-color: #ddd;
    }
    > .active > a, > .active > span, > .active > a:hover, > .active > span:hover, > .active > a:focus, > .active > span:focus {
        z-index: 2;
        color: #fff !important;
        cursor: default;
        background-color: $color !important;
        border-color: $color !important;
    }
}

.paginator-container {
    margin-top: 20px;
}