@import '../../../public/styles/_vars.css';

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 230px;
    background: #F8F8F8;
    border-right: 1px solid #ccc;
    overflow: auto;
}

.sidebar__title {
    font-size: 20px;
}

.sidebar__list {
    width: 100%;
    padding: 0 $step*2;
    list-style: none;

    > li > a {
        display: block;
        width: 100%;
        padding: 5px;
        font-size: 12px;
        cursor: pointer;

        &:before {
            font-family: 'FontAwesome';
            margin-right: 5px;
            width: 10px;
            display: inline-block;
        }

        &:hover {
            color: $link_hover;
        }

        &.sidebar__item_status_active {
            color: $link_hover;
            font-weight: bold;
        }

        &.sidebar__item_angle + .sidebar__list {
            display: none;
        }

        &.sidebar__item_angle_active + .sidebar__list {
            display: block;
        }
    }
}

.sidebar__item_angle:before {
    content: '\f105';
}

.sidebar__item_angle_active:before {
    content: '\f107';
}