.not-found {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.not-found__title {
    font-size: 200%;
    text-align: center;
    margin-bottom: 40px;
}

.not-found__image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-image: url('../../../public/images/404.png');
    background-position: center center;
    background-size: 100% 100%;
}
