@import '../../../public/styles/_vars.css';

.user-info-table {
    width: 100%;
    table-layout: fixed;
    margin-top: $marginTop;

    th {
        font-size: 12px;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ccc;
        width: 33%;
    }

    td {
        font-size: 12px;
        padding: 8px;
        border-bottom: 1px solid #ccc;
        vertical-align: top;
    }
}