@import '../../../public/styles/_vars.css';

.header {
    padding: $step*2;
    padding-left: 250px + $step * 2;
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    height: 82px;
}


.logo {
    line-height: 82px;
    padding-left: 80px;
    font-size: 18px;
    position: relative;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translate(0, -50%);
        width: 45px;
        height: 45px;
        background: url('../../../public/images/logo.png') center center no-repeat;
        background-size: 100% 100%;
    }
}