@import '../../../public/styles/_vars.css';

.content {
    padding: 0 $step * 2 $step * 2 $step * 2;
    padding-left: 250px + $step * 2;
}

.content__header {
    padding: $step * 3;
}

.content__title {
    font-size: 22px;
    color: #656565;
    margin-top: $step * 3;
}

.content__subtitle {
    font-size: 18px;
    color: #656565;
    margin-top: $step * 3;
}

.content__title_margin_none,
.content__subtitle_margin_none {
    margin-top: 0;
}